.search-bar {
    margin: 20px;
    text-align: center;
}

.search-bar input {
    width: 75%;
}

.video-item img {
    max-width: 64px;
}

.video-detail .details {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.list-group-item {
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #eee;
}

.total-price {
    border: 1px solid black;
    margin-top: 10px;
}

.total-price > span {
    background: #4e4fff;
    border: .5px solid black;
    border-top: none;
}

.item-price > input {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
}

::-webkit-input-placeholder {
    padding-left: 10px;
}

.item-list {
    margin-top: 20px;
    margin-bottom: 20px;
}

.table, .table > thead > th, .table > tbody > tr > td, table, img, td, th {
    word-wrap: break-word;
    text-align: center !important;
}

td > a > span {
    margin-left: .5em;
}